@font-face {
        font-family: 'Bahnschrift';
        src: url('assets/fonts/Bahnschrift.ttf') format('truetype'),
                url('fonts/Bahnschrift.woff2') format('woff2'),
                url('fonts/Bahnschrift.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}

@font-face {
        font-family: 'NeuropolX';
        src: url('assets/fonts/NeuropolX.otf') format('opentype');
        font-weight: normal;
        font-size: normal;
}

body {
        font-family: 'Bahnschrift', 'Segoe UI', sans-serif;
        padding: 0px;
        margin: 0px;
}

header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: static;
        padding: 5px;
        height: 6vh;
        max-height: 70px;
        padding: 1rem;
        background-color: white;
}
header ul {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
}
header li {
        padding: 5px;
}
aside {
        background-color: #253356;
        /*background-color: #00096F;*/
        max-width: 20%;

        ul {
                list-style-type: none;
                margin: 10px;
                padding: 10px;

                a {
                        color: white;
                        text-decoration: none;
                }
        }
}
footer{
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: center;
	gap: 15px;
	padding: 15px;
        position:fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 5vh;
	color: white;
	background-color: #253356;
}
footer .social-list{
	display:inline-flex;
	inline-size: 22px;
	gap: 10px;
	color: white;
	align-items: center;
	margin: 5px;
}
footer p{
	justify-self: center;
	margin: 0;
	text-align: center;
}
footer a{
	text-decoration:none;
}
h4{
	margin: 2px;
}

.nav-button {
        box-shadow: inset 0px 1px 0px 0px #ffffff;
        background: #ffffff;
        border-radius: 6px;
        border: 0px solid #dcdcdc;
        display: inline-block;
        cursor: pointer;
        color: #666666;
        font-family: 'NeuropolX', 'Bahnschrift', 'Segoe UI', sans-serif;
        font-size: 18px;
        font-weight: bold;
        padding: 10px 24px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #ffffff;
}

.main-button {
        background-color: #2f45b7;
        border-radius: 6px;
        border: 1px solid #dcdcdc;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: 'Bahnschrift', 'Segoe UI', sans-serif;
        font-size: 18px;
        font-weight: bold;
        padding: 10px 24px;
        text-decoration: none;
}

/* Formulaire masqué par défaut */
.formulaire {
    display: none;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
}

/* Affichage après clic */
#formulaire:target {
    display: block;
}

