@font-face {
    font-family: 'Bahnschrift';
    src: url('fonts/Bahnschrift.woff2') format('woff2'),
         url('fonts/Bahnschrift.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Montserrat', sans-serif;
    padding: 0px;
    margin: 0px;
}
header{
    display: flex;
    justify-content: space-between;
    position:static;
    padding:5px;
    height: 10vh;
    max-height: 70px;
    font-family: 'Montserrat', sans-serif;
}
.nav-button {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 6px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.main-button {
	/*box-shadow:inset 0px 1px 0px 0px #ffffff;*/
	/*background:linear-gradient(to bottom, #2f45b7 5%, #2f45b7 100%);*/
	background-color:#2f45b7;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Bahnschrift', 'Segoe UI', sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:6px 6px;
	text-decoration:none;
}